
{{ define "main" }}
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/output.css">

	<title>thdr-vault</title>
</head>
<body>
	<main class="flex flex-col justify-center min-h-screen">
		<div class="flex justify-center">
			<div class="border rounded-lg p-6">
				<h1 class="text-4xl">thdr-vault</h1>
				<a
					href="/vault_page"
					class="underline"
				>
					Go to vault
				</a>
			</div>
		</div>
	</main>
</body>
{{ end }}

{{ define "custom-navbar" }}
<div>
	<h1 class="text-4xl">thdr-vault</h1>
</div>
{{ end }}
